@font-face {
  font-family: HeaderFont;
  src: url(./Fonts/OldNewspaperTypes.ttf);
}

@font-face {
  font-family: Font;
  src: url(./Fonts/Spotlight\ Typewriter\ NC.ttf)
}

body{
  background-image: url("./imgs/BackgroundImg.png");
  background-position: cover;
  }

.bannerSize{
  width: 100%;
  display: flex;
  justify-content: center;
}

.navColor{
  background-color: #766B4E;
  color: #CBC4AE;
}

.ContentBox{
  display: flex;
  justify-self: center;
  flex-direction: column;
  background-color: #E5E1CF;
  align-items: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.ContentBox2{
  display: flex;
  justify-self: center;
  flex-direction: column;
  background-color: #E5E1CF;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 15px;
}

.Center{
  display: flex;
  justify-content: center;
}

.Center2{
  display: flex;
  align-items: center;
  justify-self: center;
  margin-left: 15%;
  margin-right: 10%;
}

.Column{
  display: flex;
  flex-direction: column;
}

.Row{
  display: flex;
  flex-direction: row;
  border-radius: 7px;
  margin: 0 auto; 
}

.Row2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #CBAF3D;
  border-radius: 15px;
  padding: 2px 30px;
  width: 70%;
}

.Row3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 15px;
  padding: 2px 30px;
  width: 100%;
}


.Box{
  display: flex;
  flex-direction: column;
  margin: 2%;
  width: 500px
}

.Box2{
  margin: 2%;
  padding: 2%;
  width: 600px;
  background-color: #766B4E;
  border-radius: 7%;
}

.Box3{
  display: flex;
  flex-direction: column;
  margin: 2%;
  width: 600px
}


.spacer{
  margin: 20px;
}

.spacer2{
  margin: 100px;
}
.spacer3{
  margin: 90px;
}

.FontSize{
  font-size: 50px;
  font-family: HeaderFont;
}

.FontSize2{
  font-size: 20px;
  font-family: courier;
}

.HeaderFont{
  font-family: HeaderFont;
}

.Font{
  font-family: Font;
}

.Profile{
background-color: #FDF8E8;
width: 70%;
justify-content: left;
}

.Padding{
  padding: 10px;
}

.Padding2{
padding: 2px 5px;
}

.right{
  display: flex;
  justify-content: left !important;
}

.PostBox{
  display: flex;
  background-color: #F1EFED;
  border-radius: 7px;
  width: 75%;
  margin-bottom: 20px;
  padding: 5px;
  flex-direction: column;
}

.PostBox2{
  display: flex;
  background-color: #F1EFED;
  border-radius: 7px;
  width: 150%;
  margin-bottom: 20px;
  padding: 5px;
  flex-direction: column;
}

.SignLogBox{
  display: flex;
  justify-self: center;
  flex-direction: column;
  background-color: #F1EFED;
  align-items: center;
  text-align: center;
  border-radius: 7px;
  width: 50%;
  margin: 0 auto; 
}

ul.nav li a, ul.nav li a:visited {
  color: white !important;
  }
  
  ul.nav li a:hover, ul.nav li a:active {
  color: wheat !important;
  }
  
  ul.nav li.active a {
  color: brown !important;
  }

/* Profile CSS */
/*Found the styling with a free to use profile styling webside here -> https://www.sliderrevolution.com/resources/bootstrap-profile/*/

.left {
  left: 25px;
}

.right {
  right: 25px;
}

.center {
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 25px;
}

#gradient {
  background: #999955;
  background-image: linear-gradient(#DAB046 20%, #D73B25 20%, #D73B25 40%, #C71B25 40%, #C71B25 60%, #961A39 60%, #961A39 80%, #601035 80%);
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
  height: 150px;
}

#gradient:after {
  content: "";
  position: absolute;
  background: #E9E2D0;
  left: 50%;
  margin-top: -67.5px;
  margin-left: -270px;
  padding-left: 20px;
  border-radius: 5px;
  width: 520px;
  height: 275px;
  z-index: -1;
}

#card {
  position: absolute;
  width: 750px;
  height: 325px;
  padding: 25px;
  padding-top: 0;
  padding-bottom: 0;
  left: 50%;
  top: 105px;
  margin-left: -350px;
  background: #E9E2D0;
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
  z-index: 5;
}

#card img {
  width: 300px;
  float: left;
  border-radius: 180px;
  margin-right: 20px;
}

#card h2 {
  font-family: courier;
  color: #333;
  margin: 0 auto;
  padding: 0;
  font-size: 15pt;
}

#card h1 {
  font-family: HeaderFont;
  color: #333;
  margin: 0 auto;
  padding: 0;
  font-size: 90pt;
}

#card p {
  font-family: courier;
  color: #555;
  font-size: 13px;
}

#card span {
  font-family: courier;
}