@font-face {
  font-family: HeaderFont;
  src: url(./Fonts/OldNewspaperTypes.ttf);
}

@font-face {
  font-family: Font;
  src: url(./Fonts/Spotlight\ Typewriter\ NC.ttf)
}

body{
  background-color: #5f400d;
  }

.bannerSize{
  width: 100%;
  display: flex;
  justify-content: center;
}

.navColor{
  background-color: #766B4E;
  color: #CBC4AE;
}

.ContentBox{
  display: flex;
  justify-self: center;
  flex-direction: column;
  background-color: #CBC4AE;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.Center{
  display: flex;
  justify-content: center;
}

.Column{
  display: flex;
  flex-direction: column;
}

.Row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #F1EFED;
  border-radius: 7px;
  width: 75%;
}

.Row2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #CBAF3D;
  border-radius: 15px;
  padding: 2px 30px;
  width: 60%;
}


.Box{
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.Box2{
  margin: 2%;
}

.Box3{
  display: flex;
  flex-direction: center;
  margin: 2%;
}

.ImgSize{
  width: 600px;

}

.ImgSize2{
  width: 60%;
  border-radius: 180px;

}

.spacer{
  margin: 20px;
}

.FontSize{
  font-size: 50px;
  font-family: HeaderFont;
}

.FontSize2{
  font-size: 20px;
  font-family: Font;
}

.HeaderFont{
  font-family: HeaderFont;
}

.Font{
  font-family: Font;
}

.Profile{
background-color: #FDF8E8;
width: 60%;
}

.Padding{
  padding: 10px;
}
